* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000000;
  color: #FDFCE5;
}

.zeroopacspacefiller {
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}

.home {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 575px) {
  .home {
    padding: 15px;
  }
}

.about {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 575px) {
  .about {
    padding: 15px;
  }
}

.contact {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 575px) {
  .contact {
    padding: 15px;
  }
}

.navigation .navigation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation__nav .navigation__list {
  margin: 0  0 0 auto;
  padding: 30px 0;
}

.navigation .navigation__nav .navigation__list .navigation__linkitem {
  text-decoration: none;
  color: #FDFCE5;
}

.navigation .navigation__nav .navigation__list .navigation__linkitem .navigation__listitem {
  list-style-type: none;
  display: inline;
  padding-right: 30px;
}

@media screen and (max-width: 575px) {
  .navigation {
    margin: auto;
  }
  .navigation .navigation__nav .navigation__list .navigation__linkitem .navigation__listitem {
    font-size: 10px;
  }
}

@media screen and (max-width: 990px) {
  .navigation .navigation__nav .navigation__list {
    margin: 0 auto;
  }
}

.introduction {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introduction .introduction__heading {
  font-weight: 900;
  padding: 0;
}

.introduction .introduction__smallheading {
  padding: 0;
}

.introduction .introduction__button {
  width: 150px;
  height: 40px;
  background: #FDFCE5;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 2px;
  margin-top: 10px;
}

@media screen and (max-width: 575px) {
  .introduction {
    padding: 15px;
  }
  .introduction .introduction__button {
    font-size: 12px;
    height: 25px;
    width: 100px;
  }
}

@media screen and (max-width: 990px) {
  .introduction {
    text-align: center;
  }
  .introduction .introduction__button {
    margin: 0 auto;
  }
}

.social .social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 25px;
  right: 0;
}

.social .social__list .social__itemlink {
  text-decoration: none;
  color: #FDFCE5;
  padding-right: 30px;
}

.social .social__list .social__itemlink .social__listitems {
  display: inline;
  font-size: 30px;
}

.social .social--listbottom {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

@media screen and (max-width: 550px) {
  .social .social__list .social__itemlink .social__listitems {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  .social .social__list {
    left: 50%;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.aboutme .aboutme__head {
  font-weight: 900;
}

.aboutme .aboutme__para {
  text-align: justify;
}

.downloadcv {
  width: 150px;
  height: 40px;
  background: #FDFCE5;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 2px;
  margin-top: 10px;
}

@media screen and (max-width: 575px) {
  .downloadcv {
    font-size: 12px;
    height: 25px;
    width: 100px;
  }
}

.skillscircle .skillcricle__canvas {
  width: 100%;
}

.contactoptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;
}

.contactblock {
  margin: 40px;
  text-align: center;
  border: 2px solid white;
  padding: 50px;
  margin: 15px;
  border-radius: 20px;
  min-width: 260px;
}

.contactblock .contactblock__icon {
  font-size: 50px;
}

.contactblock .contactblock__head {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.contactblock .contactblock--button {
  height: 30px;
  width: 100px;
}

@media screen and (max-width: 500px) {
  .contactblock {
    margin: 3rem;
  }
}

@media screen and (max-width: 770px) {
  .contact .social .social__list {
    position: static;
    text-align: center;
    -webkit-transform: none;
            transform: none;
    padding: 40px 0;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.projects .projects__imgoverlay {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.projects .projects__imgoverlay .projects__mainimg {
  max-width: 100%;
}

.projects .projects__description {
  text-align: right;
}

.projects .projects__description .projects__skillslist {
  list-style-type: none;
}

.projects .projects__description .projects__skillslist .projects__skilllistitem {
  padding: 5px;
  display: inline;
}

.projects .projects__description .projects__skillslist .projects__skilllistitem pre {
  display: inline;
}

.projects .projects__description .projects__alert {
  margin-left: -60px;
  background-color: rgba(255, 255, 255, 0.7);
}

.projects .projects__description .projects__link {
  color: white;
}

.projects .projects__description .projects__link .projects__linkicon {
  font-size: 20px;
  padding: 5px;
}

.projects--right .projects__description {
  text-align: left;
}

.projects--right .projects__description .projects__alertright {
  margin-left: 0;
  margin-right: -60px;
}

.projects--right .projects__description .projects__skillslist {
  padding: 0;
}

@media screen and (max-width: 990px) {
  .work .social .social__list {
    position: static;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 770px) {
  .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2rem 0 5rem 0;
  }
  .projects .projects__imgoverlay .projects__mainimg {
    width: 166%;
    max-width: 166%;
  }
  .projects .projects__description .projects__alertright {
    margin-right: 0;
  }
  .projects .projects__description .projects__alert {
    margin: 0;
  }
  .projects--right .projects__description {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}

.skillslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.skillslist .skillslist__one, .skillslist .skillslist__two, .skillslist .skillslist__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillslist--nostyle {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo .logo__main {
  font-weight: 500;
  margin: 0;
  font-size: 28px;
}

@media screen and (max-width: 500px) {
  header .logo {
    display: none;
  }
}

.aboutmemyself {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .aboutmemyself {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .about .social .social__list {
    position: static;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

.skills {
  margin: 5rem 0;
}
/*# sourceMappingURL=main.css.map */