*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: $primary-color;
    color: $secondary-color;
}
.zeroopacspacefiller{
    opacity: 0;
}

@media screen and (max-width: 500px){
    .logo{
        display: none;
    }
}