<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>YAHYA AMMAR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type='text/css' media='screen' href='../CSS/Vendor/FontAwesome/Fontawesomecss/all.css'>
    <link rel="stylesheet" type='text/css' media='screen' href='../CSS/Vendor/BootStrap/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/main.css'>
</head>
<body>

    <div class="container about"> <!-- Main Container Starts Here-->

        <div class="row">
            <header>
                <div class="navigation"> <!-- Navigation Block -->
                    <nav class="navigation__nav">
                        <ul class="navigation__list">
                            <a href="../index.html" class="navigation__linkitem"><li class="navigation__listitem">HOME</li></a>
                            <a href="Templates/About.html" class="navigation__linkitem"><li class="navigation__listitem">ABOUT</li></a>
                            <a href="#" class="navigation__linkitem"><li class="navigation__listitem">WORK</li></a>
                            <a href="#" class="navigation__linkitem"><li class="navigation__listitem">CONTACT</li></a>
                        </ul>
                    </nav>
                </div>  <!-- Navigation Block Ends Here -->
            </header>
        </div>

        <div class="row">
            <div class="col aboutme">
                <h1 class="aboutme__head">Me, Myself & I</h1>
                <p class="aboutme__para aboutme__para1">I’m a Full-Stack Developer located in Pakistan. I have a serious passion for algorithms, problem solving and building great things.</p>
                <p class="aboutme__para aboutme__para2">Well-organised person, problem solver, self learner with high attention to detail. In my free time I love to read books.</p>
                <p class="aboutme__para aboutme__para3">Interested in the entire web spectrum and working on ambitious projects with positive people.</p> 
                <button class="downloadcv">Download CV</button>       
            </div>
            <div class="col skillscircle">
                <canvas class="skillcricle__canvas"> 
                </canvas>
            </div>
        </div>

        <div class="row">
            <div class="social">
                <ul class="social__list">
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fab fa-github"></i></li></a>
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fab fa-linkedin"></i></li></a>
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fas fa-envelope"></i></li></a>
                </ul>
            </div>
        </div>


        <footer>
            <script src='../JS/main.js'></script>
            <script src="../JS/Vendor/JQuery/JQuery.js"></script>
            <script src="../JS/Vendor/BootStrap/bootstrap.min.js"></script>
        </footer>
    
    </div> <!-- Main Container Ends Here -->

</body>
</html>