<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>YAHYA AMMAR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type='text/css' media='screen' href='../CSS/Vendor/FontAwesome/Fontawesomecss/all.css'>
    <link rel="stylesheet" type='text/css' media='screen' href='../CSS/Vendor/BootStrap/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/main.css'>
    <script src='../JS/main.js'></script>
</head>
<body>

    <div class="container contact"> <!-- Main Container Starts Here-->

        <div class="row">
            <header>
                
                <div class="logo">
                    <h1 class="logo__main">CONTACT</h1>
                </div>

                <div class="navigation"> <!-- Navigation Block -->
                    <nav class="navigation__nav">
                        <ul class="navigation__list">
                            <a href="../index.html" class="navigation__linkitem"><li class="navigation__listitem">HOME</li></a>
                            <a href="../Templates/about.html" class="navigation__linkitem"><li class="navigation__listitem">ABOUT</li></a>
                            <a href="../Templates/work.html" class="navigation__linkitem"><li class="navigation__listitem">WORK</li></a>
                            <a href="../Templates/contact.html" class="navigation__linkitem"><li class="navigation__listitem">CONTACT</li></a>
                        </ul>
                    </nav>
                </div>  <!-- Navigation Block Ends Here -->
            </header>
        </div>


        <div class="contactoptions">
            <div class="contactblock phone">
                <i class="contactblock__icon fas fa-envelope"></i>
                <h6 class="contactblock__head">yahyaammar4807<br>@gmail.com</h6>
                <button class="downloadcv contactblock--button">Mail me!</button>
            </div>
            <div class="contactblock phone">
                <i class="contactblock__icon fas fa-envelope"></i>
                <h6 class="contactblock__head">+92 334 5413268<br><span class="zeroopacspacefiller">Any</span></h6>
                <button class="downloadcv contactblock--button">Call me!</button>
            </div>
            <div class="contactblock phone">
                <i class="contactblock__icon fas fa-envelope"></i>
                <h6 class="contactblock__head">Messenger<br><span class="zeroopacspacefiller">Any</span></h6>
                <button class="downloadcv contactblock--button">Say Hi!</button>
            </div>
        </div>

       
        <div class="row">
            <div class="social">
                <ul class="social__list">
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fab fa-github"></i></li></a>
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fab fa-linkedin"></i></li></a>
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fas fa-envelope"></i></li></a>
                </ul>
            </div>
        </div>
       
       
        <footer>
            <script src="../JS/Vendor/JQuery/JQuery.js"></script>
            <script src="../JS/Vendor/BootStrap/bootstrap.min.js"></script>
        </footer>
    
    </div> <!-- Main Container Ends Here -->

</body>
</html>