<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>YAHYA AMMAR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type='text/css' media='screen' href='../CSS/Vendor/FontAwesome/Fontawesomecss/all.css'>
    <link rel="stylesheet" type='text/css' media='screen' href='../CSS/Vendor/BootStrap/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/main.css'>
    <script src='../JS/main.js'></script>
</head>
<body>

    <div class="container work"> <!-- Main Container Starts Here-->



        <div class="row">
            <header>

                
                <div class="logo">
                    <h1 class="logo__main">WORK</h1>
                </div>


                <div class="navigation"> <!-- Navigation Block -->
                    <nav class="navigation__nav">
                        <ul class="navigation__list">
                            <a href="../index.html" class="navigation__linkitem"><li class="navigation__listitem">HOME</li></a>
                            <a href="../Templates/about.html" class="navigation__linkitem"><li class="navigation__listitem">ABOUT</li></a>
                            <a href="../Templates/work.html" class="navigation__linkitem"><li class="navigation__listitem">WORK</li></a>
                            <a href="../Templates/contact.html" class="navigation__linkitem"><li class="navigation__listitem">CONTACT</li></a>
                        </ul>
                    </nav>
                </div>  <!-- Navigation Block Ends Here -->
            </header>
        </div>




        <div class="projects">
            <div class="projects__imgoverlay">
                <img src="../Images/project-1.png" class="projects__mainimg">
            </div>
            <div class="projects__description">
                <pre class="projects__title">Feaured Project</pre>
                <h3 class="projects__head">Portfolio Site</h3>
                <div class="projects__alert alert alert-dark" role="alert">
                    This project is about my personal portfolio website you are visiting right now!!!
                </div>
                <ul class="projects__skillslist">
                    <li class="projects__skilllistitem"><pre>HTML5</pre></li>
                    <li class="projects__skilllistitem"><pre>CSS3</pre></li>
                    <li class="projects__skilllistitem"><pre>BS</pre></li>
                    <li class="projects__skilllistitem"><pre>Sass</pre></li>
                    <li class="projects__skilllistitem"><pre>JS</pre></li>
                    <li class="projects__skilllistitem"><pre>Git</pre></li>
                </ul>
                <div class="projects__iconslist">
                    <a class="projects__link" href="#"><i class="projects__linkicon fas fa-link"></i></a>
                    <a class="projects__link" href="#"><i class="projects__linkicon fab fa-github"></i></a>
                </div>
            </div>
        </div>

       
        <div class="projects projects--right">
            <div class="projects__description">
                <pre class="projects__title">Feaured Project</pre>
                <h3 class="projects__head">Portfolio Site</h3>
                <div class="projects__alert projects__alertright alert alert-dark" role="alert">
                    This project is about my personal portfolio website you are visiting right now!!!
                </div>
                <ul class="projects__skillslist">
                    <li class="projects__skilllistitem"><pre>HTML5</pre></li>
                    <li class="projects__skilllistitem"><pre>CSS3</pre></li>
                    <li class="projects__skilllistitem"><pre>BS</pre></li>
                    <li class="projects__skilllistitem"><pre>Sass</pre></li>
                    <li class="projects__skilllistitem"><pre>JS</pre></li>
                    <li class="projects__skilllistitem"><pre>Git</pre></li>
                </ul>
                <div class="projects__iconslist">
                    <a class="projects__link" href="#"><i class="projects__linkicon fas fa-link"></i></a>
                    <a class="projects__link" href="#"><i class="projects__linkicon fab fa-github"></i></a>
                </div>
            </div>
            <div class="projects__imgoverlay">
                <img src="../Images/project-1.png" class="projects__mainimg">
            </div>
        </div>

       
        <div class="row">
            <div class="social">
                <ul class="social__list social--listbottom">
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fab fa-github"></i></li></a>
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fab fa-linkedin"></i></li></a>
                    <a href="#" class="social__itemlink"><li class="social__listitems"><i class="fas fa-envelope"></i></li></a>
                </ul>
            </div>
        </div>
       
       
       
        <footer>
            <script src="../JS/Vendor/JQuery/JQuery.js"></script>
            <script src="../JS/Vendor/BootStrap/bootstrap.min.js"></script>
        </footer>
    
    </div> <!-- Main Container Ends Here -->

</body>
</html>